.page-wrap {
  padding: 20px 60px;
}

.breadcrumb {
  margin: 25px 0;
}

.showcase img {
  width: 300px;
}

div.showcase-section {
    width: 60%;
    display: inline-block;
    float:left;
}

#image-specs-table {
    display: inline-block;
    float: right;
    width: 38%;
}
