.page-wrap {
  padding: 20px 60px;
}

.breadcrumb {
  margin: 25px 0;
}

.showcase img {
  width: 300px;
}

div#desktop-showcase {
  height:400px;
  width:100%;
  border:1px;
  overflow:auto;
}

div#mobile-showcase {
  height:200px;
  width: 46%;
  border:1px;
  overflow:auto;
  float: right;
}

#image-specs-table {
    display: inline-block;
    float:left;
    width: 46%;
    height: ;
}

#descriptions {
    display: inline-block;
    width: 100%;
}

.zonked {
  display: none;
}