.signature  {font-family: verdana, sans-serif; font-size: 10pt; color: #767171;}

.name {font-weight: bold;}

.title {}

.address {}

.phone {}

.logo {padding: "6px 0 10px 0";}

.rnz-link {}

th {text-align:left; font-weight: normal;}